<div class="side-container h-screen pl-4">
  <div class="brand">
    <a href="/"><span class="sm:text-6xl font-bold text-blue-500">
      a
    </span>
  </a>
  </div>
  <div class="sidebar-menu">
    <div class="products-menu">
    <h3>Products</h3>
    <div class="menu-items">
      <div class="item flex justify-content-start align-items-center">
        <span class="icon pi pi-images mr-2" style="font-size: 1.5rem"></span>
        <p>Products Overview</p>
      </div>
      <div class="item flex justify-content-start align-items-center">
        <span class="icon pi pi-list mr-2" style="font-size: 1.5rem"></span>
        <p>Products List</p>
      </div>
      <div class="item flex justify-content-start align-items-center" [routerLink]="['products/new']">
        <span class="icon pi pi-plus mr-2" style="font-size: 1.5rem"></span>
        <p>New Product</p>
      </div>
    </div>
  </div>
  <div class="orders-menu">
    <h3>Orders</h3>
    <div class="menu-items">
      <div class="item flex justify-content-start align-items-center">
        <span
          class="icon pi pi-shopping-cart mr-2"
          style="font-size: 1.5rem"
        ></span>
        <p>Orders</p>
      </div>
      <div class="item flex justify-content-start align-items-center">
        <span class="icon pi pi-plus mr-2" style="font-size: 1.5rem"></span>
        <p>New Order</p>
      </div>
      <div class="item flex justify-content-start align-items-center">
        <span class="icon pi pi-file-o mr-2" style="font-size: 1.5rem"></span>
        <p>Order Summary</p>
      </div>
      <div class="item flex justify-content-start align-items-center">
        <span class="icon pi pi-history mr-2" style="font-size: 1.5rem"></span>
        <p>Order History</p>
      </div>
    </div>
  </div>
  <div class="offers-menu">
    <h3>Offers</h3>
    <div class="menu-items">
      <div class="item flex justify-content-start align-items-center">
        <span class="icon pi pi-star mr-2" style="font-size: 1.5rem"></span>
        <p>Offers Overview</p>
      </div>
      <div class="item flex justify-content-start align-items-center">
        <span class="icon pi pi-plus mr-2" style="font-size: 1.5rem"></span>
        <p>New Offer</p>
      </div>
    </div>
  </div>
  <div class="users-menu">
    <h3>Users</h3>
    <div class="menu-items">
      <div class="item flex justify-content-start align-items-center">
        <span class="icon pi pi-users mr-2" style="font-size: 1.5rem"></span>
        <p>Users Overview</p>
      </div>
      <div class="item flex justify-content-start align-items-center">
        <span class="icon pi pi-user-plus mr-2" style="font-size: 1.5rem"></span>
        <p>New User</p>
      </div>
    </div>
  </div>
  </div>
</div>
